@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background: green;
  display: flex;
  height: 550px;
}
div.container-fluid {
  display: flex;
  background-color: green;
  justify-content: center;
  width: 350px;
  height: 600px;
  margin-top: 70px;
  flex-direction: column;
}
div.card {
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  width: 280px;
  height: 400px;
  position: relative;
  margin-top: 0px;
  border-radius: 10px;
}
div.headercard {
  display: flex;
  width: 280px;
  height: 132px;
  justify-content: flex-start;
  font-size: 65px;
  align-items: flex-start;
  padding-left: 10px;
  align-content: flex-start;
}
.bodycard {
  display: flex;
  width: 280px;
  height: 134px;
  justify-content: center;
  font-size: 95px;
}
.footercard {
  display: flex;
  width: 280px;
  height: 132px;
  justify-content: flex-end;
  font-size: 65px;
  align-items: flex-end;
  padding-right: 10px;
}
.boton {
  display: flex;
  width: 280px;
  justify-content: center;
  margin-top: 15px;
}
.input-label {
  display: inline-block;
  width: 50px;
}

.input-field {
  width: 60px;
}
